@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    position: relative;
}

:root {
    --primary-color: #13aa52;
    --secondary-color: #0d3e2c;
    --background-color: #f5f7f7;
    --text-color: #333333;
    --border-color: #dcdcdc;
    --hover-color: #117a37;

    --primary-text-color: #010e06;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-color);
}

header,
footer {
    background-color: var(--secondary-color);
    color: #ffffff;
}

button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 0.8em 1em;
    cursor: pointer;
    border-radius: 0.3em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--hover-color);
}

.form{
width: 30%;
}

form {
    width: 100%;
}

input,
textarea {
    background-color: #eee;
    border: 2px solid #e6e6e6;
    padding: 12px 15px;
    margin: 8px 0;
    width: calc(100% - 32px);
    transition: all 0.5s;
    border-radius: 0.3em;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
}

textarea {
    min-height: 7em;
}

textarea:focus,
input:focus {
    outline: none;
    border: 2px solid #979797;
}


.card {
    border: 1px solid var(--border-color);
    padding: 1em;
    border-radius: 0.5em;
    background-color: #ffffff;
}

h1 {
    color: var(--primary-text-color);
}

p {
    color: var(--text-color);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    position: relative;
    margin-bottom: 1em;
}

.view{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.d-clmn{
    display: flex;
    flex-direction: column;
}

.d-row{
    display: flex;
    flex-direction: row;
}